<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="dataSource" class="oracle.jdbc.pool.OracleDataSource" destroy-method="close"> 1
        <property name="URL" value="${jdbc.url}" /> 2
        <property name="user" value="${jdbc.username}"/> 3
        <property name="password" value="${jdbc.password}"/> 4
        <property name="connectionCachingEnabled" value="true"/> 5
    </bean>

    <context:property-placeholder location="classpath:jdbc.properties"/> 6


</beans>