<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="orderStatusDAO" class="dao.impl.JdbcOrderStatus">
        <property name="dataSource" ref="dataSource" />
        <property name="transactionManager" ref="transactionManager" />
    </bean>

    <bean id="orderStatusServiceImpl" class="service.impl.OrderStatusServiceImpl">
        <property name="orderStatusDao" ref="orderStatusDAO"/>
    </bean>

</beans>