<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="inventStatusDAO" class="dao.impl.JdbcInventStatus">
        <property name="dataSource" ref="dataSource" />
        <property name="transactionManager" ref="transactionManager" />
    </bean>

    <bean id="inventStatusServiceImpl" class="service.impl.InventStatusServiceImpl">
        <property name="inventStatusDao" ref="inventStatusDAO"/>
    </bean>
</beans>